@import url(variables.css);
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;&display=swap');

* {
    font-family: "Lato", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--clr-surface-a0);
    font-size: 16px;
    max-width: 1100px;
    margin: 32px auto;
    box-shadow: 0 0 20px;
}

h1 {
    color: var(--clr-white);
    font-size: 40px;
    font-weight: 700;
}

h2 {
    color: var(--clr-primary-a10);
    font-size: 32px;
    font-weight: 700;
}

h3 {
    color: var(--clr-white);
    font-size: 22px;
    font-weight: 500;
}

p {
    color: var(--clr-white);
    font-weight: 400;
}

span {
    color: var(--clr-white);
    font-size: 14px;
    font-weight: 300;
    font-style: italic;
}

a {
    text-decoration: none;
    color: var(--clr-white);
}

img {
    width: 100%;
}

header {
    background-color: var(--clr-surface-a0);
}

main {
    background-color: var(--clr-surface-a10);
}

footer {
    background-color: var(--clr-surface-a0);
}