/*--- Dark mode ---*/
.darkmode {
    background-color: beige;
}
button{
    border: none;
    padding: .8em 2em;
    background-color: var(--clr-surface-a20);
    color: white;
    border-radius: 4px;
    font: inherit;
    text-transform: uppercase;
    font-weight: 500;
    cursor: pointer;
}
#theme-switch{
    height: 50px;
    width: 50px;
    padding: 0;
    border-radius: 50%;
    background-color: var(--clr-surface-a50);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 20px;
    right: 20px;
}
#theme-switch img{
    fill: var(--primary-color);
    max-width: 60%;
}
#theme-switch img:last-child{
    display: none;
}
.darkmode #theme-switch img:first-child{
    display: none;
}
.darkmode #theme-switch img:last-child{
    display: block;
}

/*--- Page classes ---*/
.container {
    padding: 25px;
}

.title {
    display: inline-flex;
    align-items: center;
}

.logo {
    max-width: 8%;
    padding-right: 10px;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-evenly;
}
.navbar li {
    text-align: center;
    display: block;
    width: 100%;
}
.navbar a {
    display: block;
    padding: 20px;
    
}
.navbar a:hover {
    background-color: blueviolet;
}