@import url(variables.css);

/*--- Page classes ---*/
.container {
    padding: 25px;
}

.title {
    display: inline-flex;
    align-items: center;
}

.logo {
    max-width: 7%;
    padding-right: 10px;
}

.navbar ul {
    background-color: var(--clr-surface-mixed-a10);
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-evenly;
}

.navbar li {
    text-align: center;
    display: block;
    width: 100%;
}

.navbar a {
    display: block;
    padding: 20px;
    
}

.navbar a:hover {
    background-color: var(--clr-primary-a20);
}

footer h3, a {
    font-size: 16px;
}

footer a {
    text-decoration: underline;
    color: white;
}

/*--- Main Page ---*/

/*--- About Page ---*/

/*--- Games Page ---*/
.card-image ul {
    background-color: var(--clr-surface-mixed-alpha-a30);
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

.card-image li {
    display: flex;
    align-items: center;
}

.card-image li img {
    max-width: 30px;
    padding-right: 5px;
}

/*--- Contact Page ---*/
.mail p {
    display: flex;
}

.mail img {
    padding-right: 5px;
}