:root {
    /* Standard colors */
    --clr-black: #0b0b0b;
    --clr-white: #ece9e9;

    /* Dark theme primary colors */
    --clr-primary-a0: #9151d2;
    --clr-primary-a10: #9f64d7;
    --clr-primary-a20: #ac77dd;
    --clr-primary-a30: #b98ae2;
    --clr-primary-a40: #c59ee7;
    --clr-primary-a50: #d1b1ec;

    /* Dark theme surface colors */
    --clr-surface-a0: #121212;
    --clr-surface-a10: #282828;
    --clr-surface-a20: #3f3f3f;
    --clr-surface-a30: #575757;
    --clr-surface-a40: #717171;
    --clr-surface-a50: #8b8b8b;

    /* Dark theme mixed surface colors */
    --clr-surface-mixed-a0: #362545;
    --clr-surface-mixed-a10: #4a3a58;
    --clr-surface-mixed-a20: #5f506b;
    --clr-surface-mixed-a30: #74667f;
    --clr-surface-mixed-a40: #8a7e93;
    --clr-surface-mixed-a50: #a096a8;

    /* Dark theme mixed surface colors with alpha */
    --clr-surface-mixed-alpha-a0: #36254584;
    --clr-surface-mixed-alpha-a10: #4a3a5884;
    --clr-surface-mixed-alpha-a20: #5f506b84;
    --clr-surface-mixed-alpha-a30: #74667f84;
    --clr-surface-mixed-alpha-a40: #8a7e9384;
    --clr-surface-mixed-alpha-a50: #a096a884;
}
